# --- Скомпилированные и служебные файлы Go ---

# Зависимости и скомпилированные бинарные файлы
/vendor/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Файлы покрытия кода
*.coverprofile
coverage.out
coverage.html


# --- Файлы для отладки и профилирования ---

# Профили производительности (pprof)
*.prof
*.cpu
*.mem

# --- Логи ---

*.log

# --- Временные файлы ---

*.tmp
*.swp
*.swo
*~
